*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    width: 90%;
}

section#menu{
    display: flex;
}

section#menu div#sidebar{
    float: left;
    width: 30%;
    margin-right: 10px;
}

div#add{
    display: flex;
}

input#qty{
    float: left;
    width: 30%;
    margin-right: 10px;
}

